@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 여기서는 프로젝트 전역에 오버라이드할 정적 스타일 적용을 합니다. 폰트 등 기본값 설정에 유용할 듯. */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 위에는 테일윈드 헤더인듯. 다른 초기페이지 스타일 지우면서 위까지 실수로 지웠더니 테일윈드로 적용한 스타일 싹 날아가서 복구함. */


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}